@tailwind base;
@tailwind components;
@tailwind utilities;

/* div[contentEditable] {
  @apply px-0 py-3;
} */

#command-key::before {
  content: "Press ⌘ + Enter to save";
  @apply text-white uppercase;
}

/* Placeholder (at the top) */
.tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap img {
  @apply w-full h-full aspect-video object-cover rounded-md;
}

.tiptap p {
  @apply text-lg text-pretty;
}

.tiptap h1 {
  @apply mt-4 mb-6 text-3xl font-bold md:text-4xl text-pretty;
}
.tiptap h1:first-child {
  margin-top: 0;
}

.tiptap h2:first-child {
  margin-top: 0;
}

.tiptap h2 {
  @apply my-4 text-2xl font-bold md:text-3xl text-pretty;
}

.tiptap h3 {
  @apply text-xl font-semibold md:text-xl text-pretty my-2;
}

.tiptap h3:first-child {
  margin-top: 0;
}

.tiptap ul li {
  padding-left: 25px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
  position: relative;
  word-break: break-all;
}

.tiptap ul li::before {
  width: 12px;
  height: 1px;
  background-color: #748297;
  /* border-radius: 375px; */
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  display: flex;
}

.tiptap ol {
  counter-reset: li;
}

.tiptap ol li {
  padding-left: 25px;
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
  position: relative;
  word-break: break-all;
  position: relative;
}

.tiptap ol li::before {
  content: counter(li) ".";
  counter-increment: li;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #748297;
  @apply text-lg;
}

.note-long::after {
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, #fff 100%);
  height: 120px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
}

.note-long p {
  @apply text-lg;
}

.note-long h1 {
  @apply text-3xl;
}

/* For the NoteDetails */

#backdrop-shadow:hover + #backdrop-container #backdrop-item {
  @apply !scale-[0.99] !translate-y-2;
}

#backdrop-shadow:hover #backdrop-button-close {
  display: block;
}
