.editor {
  @apply outline-none;
}

.editableMarkdownEditor {
  @apply py-3;
}

.editor a {
  @apply text-blue-500 cursor-pointer;
}

.editor img {
  @apply object-cover w-full h-full max-w-full rounded-md aspect-auto sm:max-w-96;
}

.editor p {
  @apply text-lg text-pretty;
}

.editor h1 {
  @apply mt-4 mb-6 text-3xl font-bold md:text-4xl text-pretty;
}
.editor h1:first-child {
  margin-top: 0;
}

.editor h2:first-child {
  margin-top: 0;
}

.editor h2 {
  @apply my-4 text-2xl font-bold md:text-3xl text-pretty;
}

.editor h3 {
  @apply my-2 text-xl font-semibold md:text-xl text-pretty;
}

.editor h3:first-child {
  margin-top: 0;
}

.editor ul li {
  padding-left: 25px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
  position: relative;
  word-break: break-all;
}

.editor ul li::before {
  width: 12px;
  height: 1px;
  background-color: #748297;
  /* border-radius: 375px; */
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  display: flex;
}

.editor ol {
  counter-reset: li;
}

.editor ol li {
  padding-left: 25px;
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
  position: relative;
  word-break: break-all;
  position: relative;
}

.editor ol li::before {
  content: counter(li) ".";
  counter-increment: li;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #748297;
  @apply text-lg;
}

.editor code {
  @apply font-monoLisa;
}

.editor em {
  @apply font-louize;
}
