@import url(https://fonts.cdnfonts.com/css/monolisa);
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Louize";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Louize/Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Louize";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Louize/Italic.woff2") format("woff2");
}

#command-key::before {
  content: "Press CTRL + Enter to save";
  @apply uppercase text-white;
}

/* Placeholder of MarkdownEditor (at the top) */
.tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.note-long::after {
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, #fff 100%);
  height: 120px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
}

.note-long p {
  @apply !text-sm;
}

.note-long h1 {
  @apply !text-xl;
}

.note-long h2 {
  @apply !text-lg;
}

/* For the NoteDetails */
#backdrop-shadow:hover + #backdrop-container #backdrop-item {
  @apply !translate-y-2 !scale-[0.99];
}

#backdrop-shadow:hover #backdrop-button-close {
  display: block;
}

.focus-tooltip::after {
  content: "";
  border-width: 7px;
  border-style: solid;
  border-color: #f0f2f5;
  transform: rotate(45deg) translate(-50%, 0);
  border-radius: 5px;
  @apply absolute -bottom-[10px] left-[47%];
}

.masonry > div {
  @apply !gap-[10px] lg:!gap-[12px_20px];
}

#search-bar::before {
  background: linear-gradient(
    180deg,
    rgb(240 242 245 / 80%) 16%,
    rgb(255 255 255 / 0%) 100%
  );
  position: absolute;
  width: 100%;
  content: "";
  height: 110px;
  transition: opacity 0.2s ease;
  top: 0;
  left: 0;
}

.quote::before {
  content: "“";
  @apply block pb-2 pt-6 text-center font-louize text-4xl font-medium leading-[0];
}

.quote::after {
  content: "”";
  @apply block pt-8 text-center font-louize text-4xl font-medium leading-[0];
}

.quote p {
  @apply text-center font-louize !text-2xl;
}

.quote {
  @apply !text-center !font-louize;
}

.code {
  @apply font-monoLisa;
}

#noteDiv {
  --contexify-menu-bgColor: #fff;
  --contexify-separator-color: #eee;
  --contexify-item-color: #000000;
  --contexify-activeItem-color: #000000;
  --contexify-activeItem-bgColor: #ebeff3;
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #000000;
  --contexify-arrow-color: #000000;
  --contexify-activeArrow-color: #fff;
  --contexify-menu-shadow: -5px -5px 22px rgb(0 0 0 / 11%),
    11px 11px 22px rgb(0 0 0 / 20%);
  --contexify-menu-padding: 12px;
}

#previewNoteItem p {
  @apply !text-xs;
}

#previewNoteItem h1 {
  @apply !text-lg;
}

#previewNoteItem h2 {
  @apply !text-base;
}

#previewNoteItem h3 {
  @apply !text-sm;
}

#previewNoteItem hr {
  @apply my-2;
}
